body{
  width: auto;
  margin: 50px 150px;
}
header{
  height: 90px;
  padding: 70px 0 50px 0;
  text-align: center;
}
.title{
  color:black;
  font-size: 40px;
  padding-left: 122px;
}
.date{
  color:black;
  font-size: 20px;
  margin-top: 20px;
  float: right;
}
.container{
  text-align: center;
}
.sumary{
  color: black;
  font-size: 30px;
  text-decoration: underline;
}
.box-name{
  color: black;
  font-size: 20px;
  text-decoration: underline;
}
.box-blue{
  padding: 8px 19px;
  color: #2c2c2f;
  margin: 0 50px;
  border: double 5px #4ec4d3;
}
.box-blue p{
  margin: 0
  padding: 0;
}
